<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link rel="shortcut icon"  href="{{ favicon }}favicon.gif" />
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="{{ css }}">
    <meta name="description" content="{{ description }}">
    <script src="https://tinylytics.app/embed/X5JaEKr8aYofLbUA2K3-.js" defer></script>
    <script src="{{ jss }}"></script>
  </head>
  <body class="{{ bodyClass }}">
      <header>
        {% include "headerdefault.njk" %}
      </header>
      <main>
        {{ content | safe }}
      </main>
      <aside class="pageRightMenu">
        {% include "rightmenu.njk" %}
      </aside>
      <footer class="pageFooter">
        {% include "footerdefault.njk" %}
      </footer>
  </body>
</html>