<div class="pageHeader">
  <div>
    <a class="barHome" href="{{ nesting }}index.html">Home</a>
    <a class="barAbout" href="{{ nesting }}about/aboutme.html">About</a>
    <a class="barBlog" href="{{ nesting }}blog/blog.html">Blog</a>
  </div>
</div>