  <div class="pageHeader">
          <div class="bar">
            <a class="barHome" href="home.html">Home</a>
            <a class="barAbout" href="aboutme.html">About</a>
            <a class="barBlog" href="blog.html">Blog</a>
          </div>
    </div>