<div class="leftMenuContent">
    <div class="barHome"><a class="barHome" href="{{ nesting }}index.html">Home</a></div>
    <div class="barBlog"><a class="barBlog" href="{{ nesting }}blog/blog.html">Blog</a></div>
    <div class="barAbout">---------------------</div>
    <div class="barAbout"><a class="barAbout" href="{{ nesting }}about/aboutme.html">About</a></div>
    <div class="barAbout"><a class="barAbout" href="{{ nesting }}about/favorites.html">Favorites</a></div>
</div>