<div class="leftMenuContent">
    <div class="barHome"><a class="barHome" href="home.html">Home</a></div>
    <div class="barBlog"><a class="barBlog" href="blog.html">Blog</a></div>
    <div class="barAbout">---------------------</div>
    <div class="barAbout"><a class="barAbout" href="aboutme.html">About me</a></div>
    <div class="barAbout"><a class="barAbout" href="favorites.html">Favorites</a></div>
</div>