<div class="rightMenuContent">
    <div class="rightMenuIntro">
      <h2 class="rightMenuTitle">Camico</h2>
      <figure class="righMenuImagen"><img src="./images/me/floramarillalit.jpg" alt="Dandelion flower"></figure>
      <div><a href="https://www.imood.com/users/camico"><img class="status" src="https://moods.imood.com/display/uname-camico/imood.gif" alt="The current mood of camico at www.imood.com" border="0"></a>
      </div>
    </div>
    <div>
    </div>
      <div class="pageContentTitle">Current Hiperfixation</div>
      <div class="currentHfImagen"><img class="imgHiperfixation" src="{{ currentHiperfixation }}" alt="My current hiperfixation is: {{ altHiperfixation }}" ></div>
      <div align='center'><a href="https://clap.fc2.com/page/camico?url=https%3A%2F%2Farcoirisconazucar.neocities.org%2Fhome" target="_blank" title="Web Clap by FC2"><img src="https://static.fc2.com/image/clap/en/number/pink/0.gif" alt="Web Clap by FC2" style="border:none;width: 50px;height: 25px;" /></a></div>

      <div align='center'>
        <a href="https://lovesick.cafe/grrrl" target="_blank"><img class="button" src="{{ clique }}madebya-purple.png" alt="made by a girl"></a>
        <a href="https://neocities.org/site/arcoirisconazucar" target="_blank"><img class="button" src="{{ clique }}neocities-pink.gif" alt="neocities button"></a>
        <img class="button" src="{{ clique }}vscode10.png" alt="Visual Studio Code button">

      </div>
</div>