<div class="rightMenuContent">
    <nav class="aside-nav">
      <div class="pageContentTitle">Menu</div>
      <ul class="menu">
          <li><a class="barHome" href="index.html">Home</a></li>
          <li><a class="barAbout" href="aboutme.html">About</a></li>
          <li><a class="barBlog" href="blog.html">Blog</a></li>
    </nav>
    <div class="rightMenuIntro">
      <h4 class="pageContentTitle">Camico</h4>
      <figure class="righMenuImagen"><img src="./images/me/diente-de-leon.jpg" alt="Dandelion flower"></figure>
      <a href="https://www.imood.com/users/camico"><img class="status" src="https://moods.imood.com/display/uname-camico/imood.gif" alt="The current mood of camico at www.imood.com" border="0"></a>
    </div>
    <div>
    </div>
      <h4 class="pageContentTitle">Current Hiperfixation</h4>
      <div class="currentHfImagen"><img class="imgHiperfixation" src="./images/me/jojos-bizarre-adventure.png" alt="My current hiperfixation is: Jojo's Bizarre Adventures" ></div>
</div>