---
layout: default.njk
title: Camico's Blog!
bodyClass: body
favicon: "../../"
nesting: "../"
css: "../css/layout_index.css"
clique: "../images/buttons/"
description: "Welcome to my blog!"
---

<div class="pageContent">
    <div class="contentBox">
        <a class="links" href="{{ nesting }}blog/blog.html"> <-- </a>
        <h1 class="pageContentTitle">My silly little challenge for halloween</h1>
        <div>
            <section style="padding-top: 5px;">
                <p>
                    Heeyy so, honestly in the beginning of the month I was feeling pretty bad, 
                    so I decide to make this halloween more special! I will see, play or read halloween media! or just kinda spooky or kinda have the vibe you know?
                </p>
                <p>
                    I want to organize this making a list with what I see each day since Octubre 5th until October 31th, I will try to update each week.
                    and separate the media with a  * if i never seen it before! (I want to see a looot of things from my watchlist).                    
                </p>
            </section>
            <section style="padding-top: 15px;">
                    <ol>
                        <p>
                           One spooky media for day
                        </p>
                        <li>Treehouse Of Horror 1 and Trick or Treat (1952).</li>
                        <li>The Amazing Digital Circus episode 3 (this counts as halloween episode? idk )and The Gaslight District (Pilot)*. </li>
                        <li>Murder Drones (Pilot)*, Smiling Friends Sesion 1 episode 4 and Treehouse of horror 3.</li>
                        <li>Treehouse Of Horror 12.</li>
                        <li>Nosferatu anda Murder Drones episode 2 and 3*.</li>
                        <li>The Sixth Sense, Gravity Falls season 1 episode 12 and Murder Drones episode 4*.</li>
                        <li>The Addams Family and Murder Drones episode 5, 6, 7 and 8*.</li>
                        <li>The Substance*.</li>
                        <li>The Craft and I’m Not Human (Game).</li>
                        <li>The Lottery (Book).</li>
                        <li>Five Nights At Freddys*.</li>
                        <li>Werewolf By Night.</li>
                        <li>28 Days after*</li>
                        <li>28 Weeks After*</li>
                        <li>28 Years After*</li>
                        <li>I forgot:(</li>
                        <li>The Fly</li>
                        <li>I'm Not Human (again lol)</li>
                        <li>Over The Garden Wall</li>
                        <li>Frankenstein (1931)</li>
                        <li>Treehouse Of Horror 2</li>
                        <li>Frankelda's Book of Spooks (all the episodes)*</li>
                        <li>Agatha All Along</li>
                        <li>Alien*</li>
                        <li>Weapons*</li>
                        <li>Corpse Bride and Monster House</li>
                    </ol>
                </section>
                <p>
                    Update: Idk how I make this possible but I did it! Honestly, I’m sooo happy because I never been this motivated for things like this! 
                    Thank u so much for stay with me this month and If you seeing this after October thank you for reading my list!:) See ya!                          
                </p>
        </div>
    </div>
</div>