*{
    padding : 0;
    margin : 5px;
    border : 0;
}

img {
    max-width:100%;
}

body{
    background-color : #080408;
    font-family : 'Roboto', sans-serif;
    font-size : 1rem;
    padding-top : 1rem;
    color: #be8fa3;
}

h1{
    color:#d8597f
}

h2{
    color: #d16c8a;
    justify-content: center;
    padding-bottom: 0.5rem;

}

a{
    text-decoration: none;
    color: #a55fd3;
}

.barHome:hover{
    color: #ff5722;
}

.barAbout:hover{
    color: #eeff41;
}
.barBlog:hover{
    color: #2bb432;

}
.barJournal:hover{
    color: #41d3ff;

}

.button{
    background-color: #7e57c2;
    color: #dad1e4;
    padding: 0.8rem 1.7rem;
    border: none;
    border-radius: 0.3rem;
    cursor: pointer;
    align-items: center;
    text-decoration: none;
    

}

.img-journal{
    height : 400px;
    width : 500px;
}
