---
layout: default.njk
title: Camico's Blog!
bodyClass: body
nesting: "./"
css: "css/layout_index.css"
clique: "./images/buttons/"
description: "Welcome to my blog!"
---

<div class="pageContent">
    <h1 class="headerTitle">Blog</h1>
    <h4 class="contentText">Honestly i don't have so much to tell:( wait for updates please!</h4>

</div>