---
layout: aboutme.njk
title: Favorites
bodyClass: body
nesting: "./"
css: "css/layout_aboutme.css"
description: "My favorites things."
jss: "jss/wobble.js"
---

<div class="pageContentExtent">
    <h1 id="wobble">Favorites</h1>

    <div class="responsive-two-column-grid">
        <div class="content">
            <h3 class="pageContentTitle">Animes</h3>
        </div>
        <div class="content">
            <h3 class="pageContentTitle">Videogames</h3>
        </div>
        <div class="content">
            <h3 class="pageContentTitle">Albums</h3>
        </div>
        <div class="content">
            <h3 class="pageContentTitle">Series</h3>
        </div>
        <div class="content">
            <h3 class="pageContentTitle">Movies</h3>
        </div>
        <div class="content">
            <h3 class="pageContentTitle">Characters</h3>
        </div>
    </div>
</div>