---
layout: default.njk
title: Camico's Home
bodyClass: body
nesting: "./"
css: "css/layout_home.css"
currentHiperfixation: "./images/me/JojosBizarreAdventure.png"
altHiperfixation: "Jojo's Bizarre Adventures"
clique: "./images/buttons/"
description: "Well, this is the home page."
---

<div class="pageContent">
    <h1 class="headerTitle">Hello Stranger!</h1>
    <h4 class="contentText">Right now the site is still on development, thanks for your visit!:)</h4>
    <div align='center'><img src="./images/content/pikachu.gif" alt="under construction Pikachu"></div>
       <div class="updates">
        <h2 class="pageContentTitle">Recent Posts</h2>

        <h2 class="pageContentTitle">Side updates</h2>
      </div>

  </div>