---
layout: default.njk
title: Camico's Home
bodyClass: body
nesting: "./"
css: "css/layout_home.css"
currentHiperfixation: "./images/me/KusuriyaHitorigoto.png"
clique: "./images/buttons/"
description: "Well, this is the home page."
---

<div class="pageContent">
    <h1 class="headerTitle">Hello Stranger!</h1>
    <h4 class="contentText">Right now the site is still on development, thank for ur visit!:)</h4>
    <img align='center' src="./images/content/pikachu.gif" alt="Pikachu">
       <div class="updates">
        <h2 class="pageContentTitle">Recent Posts</h2>

        <h2 class="pageContentTitle">Side updates</h2>
      </div>

  </div>