---
layout: default.njk
title: Camico's Home
bodyClass: body
nesting: "./"
css: "css/layout_index.css"
clique: "./images/buttons/"
description: "Well, this is the home page."
---

<div class="pageContent">
    <h1 class="headerTitle">Hello Stranger!</h1>
    <div style="display: flex;">
        <img class="img-home" src="./images/me/chuu-gif.gif" alt="Chuu gif" >
        <div>
            <p>Welcome to my web! My personal blog where I talk about my interests, my special interests, and hyperfixation :)!<p> 
            <p>I'm Camico. If you don't know me, nice to meet you! And if you know me irl <s>why are you here?</s>, nice to see you buddy!</p>
            <p>Right now I don't have so much to tell, so check out my <a class="links" href="aboutme.html">about me</a> page!</p>
            <ul>
                <p>
                    Disclaimer:
                </p>
                <li>This website is not intended for younger audiences.</li>
                <li>I don't have a really good command in English, sorry if I disturbing you with my poor grammar.</li>
                <li>Right now this side is better seen on a PC, I will work to make it mobile friendly, I promise!</li>
            </ul>
        </div>
    </div>

    <div>
        <div align='center'>
            <a href="https://lovesick.cafe/grrrl" target="_blank"><img class="button" src="{{ clique }}madebya-purple.png" alt="made by a girl"></a>
            <a href="https://neocities.org/site/arcoirisconazucar" target="_blank"><img class="button" src="{{ clique }}neocities-pink.gif" alt="neocities button"></a>
            <img class="button" src="{{ clique }}vscode10.png" alt="Visual Studio Code button">
            <img class="button" src="{{ clique }}gaybutton.gif" alt="This site is gay button">
            <a href="https://jigsaw.w3.org/css-validator/validator?uri=https%3A%2F%2Farcoirisconazucar.neocities.org">
            <img style="border:0;width:88px;height:31px" src="https://jigsaw.w3.org/css-validator/images/vcss-blue" alt="Valid CSS!" /></a>
        </div>
        <div align='center'>
            <a href="https://pkmn.caelestis.nu" rel="noopener noreferrer" style="border: 0px none; background: transparent;" title="I Choose You! | Rayquaza"><img src="{{ clique }}rayquaza.png" style="margin: auto -10px;"></a>
            <a href="http://www.marheavenj.net/josuke/" target="_blank"><img class="button" src="{{ clique }}josuke.jpg" alt="Josuke"></a>
            <a href="https://fightingspirit.seaincense.com/index.php" target="_blank"><img class="button" src="{{ clique }}jojos-button.gif" alt="Jojos"></a>
            <a href="https://fan.surlybutterfly.net/stardewvalley/" target="_blank"><img class="button" src="{{ clique }}stardew-valley-button.png" alt="Stardew Valley"></a>

        </div>
    </div>
    <div class="three-columns">
        <div class="home-box">
            <h4 class="pageContentTitle">To-do list:</h4>
            <ul>
                <li>put a guestbook widget</li>
                <li>made a page for each favorite media (auch)</li>
                <li>make a chilean fauna page</li>
                <li>fix the home page</li>
            </ul>
        </div>
        <div class="home-box">
            <h4 class="pageContentTitle">me right now coding</h4>
            <div align='center'><img src="./images/content/pikachu.gif" alt="under construction Pikachu"></div>
            <p><s>I going to fix all the mistakes I made trying to make this site works;;; I swear...</s></p>

        </div>
        <div class="home-box">
            <h4 class="pageContentTitle">Current Hiperfixation: </h4>
            <div class="currentHfImagen"><img class="imgHiperfixation" src="./images/me/jojos-bizarre-adventure.png" alt="My current hiperfixation is: Jojo's Bizarre Adventures" ></div>
        </div>
    </div>
    <div class="three-columns">
        <div class="phase-box"><img  class="gif-home" src="./images/content/gif1.gif" alt="Gif" ></div>
        <div class="phase-box"><h3 class="pageContentTitle">Having fun is not a waste of time</h3></div>
        <div class="phase-box"><img class="gif-home" src="./images/content/gif2.gif" alt="Gif" ></div>
    </div>

</div>