---
layout: main.njk
title: Welcome to Arcoiris con Azucar
bodyClass: body
css: "css/layout_index.css"
description: "Come on, enter."
---

<div class="pageContent">
    <a class="button" href="home.html">Enter</a>
</div>