---
layout: aboutme.njk
title: My Interests
bodyClass: body
nesting: "./"
css: "css/layout_aboutme.css"
description: "You're curious I guess, this page about the things that I like."
jss: "jss/wobble.js"
---

<div class="pageContentExtent">
    <h1 id="wobble">My Interests</h1>

    <div class="responsive-two-column-grid">
        <div>
            <h3 class="pageContentTitle">Likes</h3>
            <ul>
                <li>Kpop!</li>
                <li>Color purple, pink, yellow and green.</li>
                <li>Completos! (chilean hotdogs)</li>
            </ul>
        </div>
        <div>
            <h3 class="pageContentTitle">Dislikes</h3>
            <ul>
                <li>all type of hate to minorities</li>
                <li>Avocado (sometimes)</li>
            </ul>
        </div>
    </div>
    <div class="responsive-two-column-grid">
        <div class="content">
            <h3 class="pageContentTitle">Hobbies</h3>
            <ul>
                <li>Journaling</li>
                <li>Play videogames</li>
                <li>Watch Series/Movies/Anime</li>
                <li>Foodie content (restaurant reviewing)</li>
            </ul>
        </div>
        <div class="content">
            <h3 class="pageContentTitle">Currently Watching/Reading</h3>
            <ul>
                <li><strong>Series: </strong> Daredevil</li>
                <li><strong>Anime: </strong> DevilMyCry, The Apothecary diaries</li>
                <li><strong>Manga: </strong> Jojos (Steel Ball Run), Skip and Loafer, The Apothecary diaries, Chainsaw Man</li>

            </ul>
        </div>
    </div>

</div>