---
layout: aboutme.njk
title: About me
bodyClass: body
nesting: "../"
css: "../css/layout_aboutme.css"
description: "You're curious I guess."
jss: "../jss/wobble.js"
clique: "../images/buttons/"
---

<div class="pageContentExtent">
    <h1 id="wobble">About me</h1>
    <div class="aboutMeContent">
        <div class="box">
            <div class="box-right">
                <img class="aboutMeImage" src="../images/me/diente-de-leon.jpg" alt="Dandelion flower, I take this photo!">
            </div>
            <div id="box-left">
                <p>
                    Hi! call me Camico, I'm a 24 year old girl (she/her) born and raised in Chile. This site is in some way a form to express my love for web coding outside of my job in tech. 
                </p>
                <p>
                    Well, this is not my first time trying to make a indepent blog, I have a blog back in 2017, unfortunately that time I didn’t have a clever idea of what I wanted my personal blog to be.  
                </p>
                <p>
                    Neocities makes me see a lot of people using blogging as a form of expression. This site is full of creativity and self-identity that makes me think the internet may not be so dead. I feel so grateful to know this place. I want to thank you all for making me see we still can have an identity, and I thank you, stranger, for making my space, my identity and my words valuable outside the likes, shares and all that shit on social media (I don't hate social media, I’m just sick of it). 
                </p>
            </div>
        </div>
<!--
        <div class="box">
            <div class="box-right">
                <div class="content">
                <h4 class="pageContentTitle">People that inspire me</h4>
                <a href="https://petrapixel.neocities.org/" target="_blank"><img src="https://cdn.jsdelivr.net/gh/petracoding/petrapixel.neocities.org@latest/public/assets/img/linkback.gif" alt="petrapixel"></a>
                <a target="_blank" href="https://jaysplace.neocities.org"><img src="https://jaysplace.neocities.org/images/jaysplacebtn.png"></a>
                </div>
            </div>
            <div id="box-left">
                <h4 class="pageContentTitle">You can find on</h4>
                <a href="https://neocities.org/site/arcoirisconazucar" target="_blank"><img class="button" src="{{ clique }}neocities-pink.gif" alt="neocities button"></a>
            </div>
        </div>
-->
        <div>
            <h2 style="text-align: center;">More about me</h2>
            <div class="box">
                <div class="box-right">
                    <h3 class="pageContentTitle">Likes</h3>
                    <ul>
                        <li>Kpop!</li>
                        <li>Color purple, pink, yellow and green.</li>
                        <li>Completos! (chilean hotdogs)</li>
                    </ul>
                </div>
                <div class="box-left">
                    <h3 class="pageContentTitle">Dislikes</h3>
                    <ul>
                        <li>all type of hate to minorities</li>
                        <li>Avocado (sometimes)</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="content">
            <h3 class="pageContentTitle">Hobbies</h3>
            <ul>
                <li>Journaling</li>
                <li>Play videogames</li>
                <li>Watch Series/Movies/Anime</li>
                <li>Foodie content (restaurant reviewing)</li>
            </ul>
            <a href="{{ nesting }}about/favorites.html">I have a favorites page here</a>
        </div>
        </div>
    </div>
</div>