---
layout: aboutme.njk
title: Favorites
bodyClass: body
nesting: "../"
css: "../css/layout_aboutme.css"
description: "My favorites things."
jss: "../jss/wobble.js"
---

<div class="pageContentExtent">
    <h1 id="wobble">Favorites</h1>

    <div class="responsive-two-column-grid">
        <div class="content">
            <h3 class="pageContentTitle">Animes</h3>
            <div>
            <img class="img-content" src="../images/me/jojos-bizarre-adventure.png" alt="Jojo's Bizarre Adventures" >
            <img class="img-content" src="../images/me/the-apothecary-diaries.png" alt="The Apothecary diaries" >

            <h3 class="pageContentTitle">Albums</h3>
            <img class="img-content-music" src="../images/me/ariana-grande-dangerous-woman.jpg" alt="Dangerous Woman by Ariana Grande" >
            <img class="img-content-music" src="../images/me/fob-folie-a-deux.jpg" alt="Folie à Deux by Fall Out Boy" >
            <img class="img-content-music" src="../images/me/dall-artms.jpg" alt="Dall by ARTMS" >

            </div>
        </div>
        <div class="content">
            <h3 class="pageContentTitle">Series</h3>
            <img class="img-content" src="../images/me/better-call-saul.jpg" alt="Better Call Saul" >
        </div>
        <div>
            <h3 class="pageContentTitle">Videogames</h3>
            <img class="img-content" src="../images/me/baldurs-gate-3.jpg" alt="Baldur's Gate 3" >
            <img class="img-content" src="../images/me/stardew-valley.jpg" alt="Stardew Valley" >

        </div>
        <div class="content">
            <h3 class="pageContentTitle">Movies</h3>
            <img class="img-content" src="../images/me/legally-blonde.jpg" alt="Legally Blonde" >
            <img class="img-content" src="../images/me/sherk.jpg" alt="Shrek" >
            <img class="img-content" src="../images/me/wallace-and-gromit.jpg" alt="Wallace And Gromit: A Grand Day Out" >
        </div>
        <div>

        </div>
        <div class="content">
            <h3 class="pageContentTitle">Characters</h3>
            <ul>
                <li><strong>Nanami Kento</strong> (Jujutsu Kaisen)</li>
                <li><strong>Gale of Waterdeep</strong> (Baldur's Gate 3)</li>
                <li><strong>Maomao</strong> (The Apothecary diaries)</li>
                <li><strong>Wolverine</strong> (Marvel)</li>
                <li><strong>Gromit</strong> (Wallace & Gromit)</li>
                <li><strong>Bruno Bucciarati</strong> (Jojo's Bizarre Adventures)</li>
                <li><strong>Mitsumi Iwakura</strong> (Skip And Loafer)</li>
                <p>If you imagine this as a blunt rotation, it will be funny asf</p>
            </ul>
        </div>
        <div class="content">
            <h3 class="pageContentTitle">Currently Watching/Reading</h3>
            <ul>
                <li><strong>Series: </strong> Daredevil.</li>
                <li><strong>Anime: </strong> DevilMayCry, The Apothecary diaries.</li>
                <li><strong>Manga: </strong> Jojos (Steel Ball Run), Skip and Loafer, The Apothecary diaries, Chainsaw Man.</li>
            </ul>
        </div>
    </div>
</div>