---
layout: empty.njk
title: Journal
bodyClass: body
favicon: "../../"
nesting: "../"
css: "../css/layout_empty.css"
clique: "./images/buttons/"
description: "Journal"
---
<div align='center'>
    <header>
    {% include "headerdefault.njk" %}
    </header>
    <br>
    <h1 class="headerTitle">Journal</h1>
    <p>I started using bullet journal 8 years ago, since then a lot about how I journaling as change. 
    Right now, I'm more comfortable doing junk journal and just writing my feelings.</p> 
    <p> Here are some of my favorite pages in my journal (with personal information censured).</p>
    <div style="width: 1800px; padding-top:10px;">
        <img class="img-journal" src="../images/journal/bullet-journal11.jpg" alt="Bullet Journal Image"></img>
        <img class="img-journal" src="../images/journal/bullet-journal12.jpg" alt="Bullet Journal Image"></img>
        <img class="img-journal" src="../images/journal/bullet-journal1.jpg" alt="Bullet Journal Image"></img>
        <img class="img-journal" src="../images/journal/bullet-journal2.jpg" alt="Bullet Journal Image"></img>
        <img class="img-journal" src="../images/journal/bullet-journal3.jpg" alt="Bullet Journal Image"></img>
        <img class="img-journal" src="../images/journal/bullet-journal4.jpg" alt="Bullet Journal Image"></img>
        <img class="img-journal" src="../images/journal/bullet-journal5.jpg" alt="Bullet Journal Image"></img>
        <img class="img-journal" src="../images/journal/bullet-journal6.jpg" alt="Bullet Journal Image"></img>
        <img class="img-journal" src="../images/journal/bullet-journal7.jpg" alt="Bullet Journal Image"></img>
        <img class="img-journal" src="../images/journal/bullet-journal8.jpg" alt="Bullet Journal Image"></img>
        <img class="img-journal" src="../images/journal/bullet-journal9.jpg" alt="Bullet Journal Image"></img>
        <img class="img-journal" src="../images/journal/bullet-journal10.jpg" alt="Bullet Journal Image"></img>
        <img class="img-journal" src="../images/journal/bullet-journal14.jpg" alt="Bullet Journal Image"></img>
        <img class="img-journal" src="../images/journal/bullet-journal15.jpg" alt="Bullet Journal Image"></img>


    </div>
</div>