---
layout: empty.njk
title: Journal
bodyClass: body
favicon: "../../"
nesting: "../"
css: "../css/layout_empty.css"
clique: "./images/buttons/"
description: "Journal"
---
<div align='center'>
    <header>
    {% include "headerdefault.njk" %}
    </header>
    <br>
    <h1 class="headerTitle">Journal</h1>
    <p>I started using bullet journal 8 years ago, since then a lot about how I journaling as change. 
    Right now, I'm more comfortable doing junk journal and just writing my feelings.</p> 
    <p> Here are some of my favorite pages in my journal (with personal information censured).</p>
    <div style="width: 1800px; padding-top:10px;">
        <img class="img-journal" src="../images/journal/bullet-journal11.jpg" alt="Bullet Journal Image" title="Honestly I just go to McDonald's for THAT figure"></img>
        <img class="img-journal" src="../images/journal/bullet-journal12.jpg" alt="Bullet Journal Image" title="Sticky note: The future starts with the step you do today"></img>
        <img class="img-journal" src="../images/journal/bullet-journal1.jpg" alt="Bullet Journal Image" title="I miss the Santiago 2023 era...And 2025 front page!"></img>
        <img class="img-journal" src="../images/journal/bullet-journal2.jpg" alt="Bullet Journal Image" title="I like the petals of this page..Maybe I will do it more"></img>
        <img class="img-journal" src="../images/journal/bullet-journal3.jpg" alt="Bullet Journal Image" title="I try to do a tea bags page when I always drink the same tea..."></img>
        <img class="img-journal" src="../images/journal/bullet-journal4.jpg" alt="Bullet Journal Image" title="Honestly idk if that discount code works, birthday pages btw"></img>
        <img class="img-journal" src="../images/journal/bullet-journal5.jpg" alt="Bullet Journal Image" title="this page is so cute I love it"></img>
        <img class="img-journal" src="../images/journal/bullet-journal6.jpg" alt="Bullet Journal Image" title="I loved doing this bullet journal pages but I never use it"></img>
        <img class="img-journal" src="../images/journal/bullet-journal7.jpg" alt="Bullet Journal Image" title="I think this is a birthday page too? idk"></img>
        <img class="img-journal" src="../images/journal/bullet-journal8.jpg" alt="Bullet Journal Image" title="love this pages bc August is my birthday's month"></img>
        <img class="img-journal" src="../images/journal/bullet-journal9.jpg" alt="Bullet Journal Image" title="travel page heehhe"></img>
        <img class="img-journal" src="../images/journal/bullet-journal10.jpg" alt="Bullet Journal Image" title="ok now you can see when I started to use more trash"></img>
        <img class="img-journal" src="../images/journal/bullet-journal14.jpg" alt="Bullet Journal Image" title="I dont have so much to say about this pages...But I kinda like it"></img>
        <img class="img-journal" src="../images/journal/bullet-journal15.jpg" alt="Bullet Journal Image" title="My 2025 front pages, I like the bingo with my 2025 resolutions"></img>


    </div>
</div>